body {
	background-color: #EEEEEE;
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

nav {
	text-align: center;
}

nav a{ 
	text-decoration: none;
	padding: 0 15px;
}

h1,h2,h3 {
	line-height: 1.2;
}

h3 {
	font-weight: normal;
}

footer p {
	text-align: right;
	line-height: .6;
}

footer a {
	text-decoration: none;
}